/* yleiset */

StackPane, BorderPane {
    -fx-background-color: #FFFFFF;
}

.borderWide {
    -fx-pref-width: 300px;
}

/* profiili ja main sivut */

.header {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #2B2D42;
    -fx-padding: 10;
}

.header-background {
    -fx-background-color: #2B2D42;
    -fx-padding: 0px;
}

.headerMain {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-min-width: 0;
}

.line {
    -fx-background-color: #9A7197;
}

.mainbutton {
    -fx-background-color: #3b5998;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-font-size: 13px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
}

.mainbutton:hover {
    -fx-background-color: #9A7197;
}

.footer-background {
    -fx-background-color: #E1E5F2;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

.mainlabel {
    -fx-font-size: 18px;
    -fx-padding: 20px;
}

.headerMain {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #FFFFFF;
    -fx-padding: 10px;
}

.profile-image {
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
}

.profile-info {
    -fx-font-size: 14px;
    -fx-text-fill: #2B2D42;
}

.newButton {
    -fx-background-color: #2B2D42;
    -fx-font-size: 16px;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-text-fill: #ffff;
}

.newButton:hover, .createPost:hover, .messageButton:hover, .settingsProfile:hover {
    -fx-background-color: #9A7197;
    -fx-cursor: hand;
}

.messageButton {
    -fx-background-color: #3b5998;
    -fx-font-size: 20px;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-text-fill: #ffff;
}

.settingsProfile {
    -fx-background-color: #3b5998;
    -fx-font-size: 20px;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-text-fill: #ffff;
}

.createPost {
    -fx-background-color: #2B2D42;
    -fx-font-size: 12px;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-text-fill: #ffff;
}

.usernameLabel {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.registeredLabel {
    -fx-font-size: 10px;
    -fx-text-fill: grey;
}

.nameLabel {
    -fx-font-size: 14px;
}

.bioLabel {
    -fx-font-size: 12px;
    -fx-font-style: italic;
}

.context-menu {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-padding: 0;
}

.context-menu .menu-item {
    -fx-padding: 6 3;
    -fx-text-fill: #333333;
    -fx-font-size: 11px;
}

.context-menu .menu-item:hover {
    -fx-background-color: #f0f0f0;
    -fx-cursor: hand;
}

/* login ja register */

.text-field {
    -fx-pref-width: 300px;
    -fx-padding: 10;
    -fx-border-color: #E1E5F2;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-color: #E1E5F2;
}

.loginButton {
    -fx-pref-width: 300px;
    -fx-padding: 10;
    -fx-background-color: #2B2D42;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 5px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

.loginButton:hover, .mainbutton:hover {
    -fx-background-color: #9A7197;
}

.registerButton {
    -fx-background-color: transparent;
    -fx-text-fill: #2B2D42;
    -fx-underline: true;
    -fx-cursor: hand;
}

.registerButton:hover {
    -fx-text-fill: #9A7197;
    -fx-font-weight: bold;
}

.info-label {
    -fx-font-size: 14px;
    -fx-text-fill: #9A7197;
}

.small-label {
    -fx-font-size: 12px;
    -fx-text-fill: #2B2D42;
}

.labelField {
    -fx-font-size: 12px;
    -fx-text-fill: #2B2D42;
    -fx-padding: 0 0 -15px 0;
    -fx-alignment: center-left;
    -fx-pref-width: 310px;
}

.noPostsLabel {
    -fx-font-family: "Arial";
    -fx-font-size: 16px;
    -fx-text-fill: #777;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-opacity: 0.7;
}


/* new post */

.postPage {
    -fx-background-color: #f0f2f5;
    -fx-alignment: center;
}

.headerLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 15 0;
    -fx-text-fill: #333;
}

.chooseImageButton {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-font-size: 14px;
}

.chooseImageButton:hover {
    -fx-background-color: #0056b3;
    -fx-cursor: hand;
}

.imagePreview {
    -fx-border-color: #007bff;
    -fx-border-width: 3;
    -fx-border-radius: 10;
    -fx-padding: 5;
    -fx-background-color: #f9f9f9; /* why is this not working :( */
}

.captionArea {
    -fx-background-color: #ffffff;
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

.captionLabel, .textPostLabel {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 5 0;
}

.postButton {
    -fx-background-color: linear-gradient(to right, #2B2D42, #3a3d5b);
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
    -fx-font-size: 16px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-effect: dropshadow(gaussian, #333, 5, 0.5, 0, 2);
}

.postButton:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-background-color: linear-gradient(to right, #1a1c30, #2a2d45);
    -fx-cursor: hand;
}

.closeButton {
    -fx-background-color: #3b5998;
    -fx-pref-width: 50px;
    -fx-pref-height: 30px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-text-fill: #ffff;
}

.closeButton:hover {
    -fx-background-color: #9A7197;
    -fx-cursor: hand;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect: dropshadow(gaussian, #373333, 5, 0.5, 0, 2);
}

.postPage2 {
    -fx-background-image: url("kuvat/safespacelogo.png");
    -fx-background-size: cover;
    -fx-alignment: center;
}

.textPostArea {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-border-color: #ddd;
    -fx-border-width: 1px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 10px;
    -fx-font-size: 14px;
}

.textPostArea:focused {
    -fx-border-color: #f9f9f9;
    -fx-border-width: 2px;
    -fx-background-color: #f9f9f9;
}

/* log out dialog */

.dialog-box {
    -fx-padding: 20px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0, 0, 5);
}

.dialog-box Label {
    -fx-font-size: 16px;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.dialog-box Button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 5 10;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0, 0, 2);
}

.dialog-box Button:hover {
    -fx-background-color: #0056b3;
}

.dialog-box Button:pressed {
    -fx-background-color: #004085;
}

/* profiilin menu */

.menu-item {
    -fx-background-color: #E1E5F2;
    -fx-font-size: 14px;
    -fx-border-color: #ffff;
    -fx-border-width: 0.5;
}

.menu-item:hover {
    -fx-background-color: #D1D7E3 !important;
}


/* update info */

.headerLabel {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 0;
    -fx-text-fill: #333;
}

.otherLabel {
    -fx-font-size: 14px;
    -fx-text-fill: #666;
}

.text-field2, .password-field2 {
    -fx-pref-width: 300px;
    -fx-padding: 10;
    -fx-border-color: #E1E5F2;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-color: #fff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.5, 0, 0);
}

.text-field2:focused, .password-field2:focused {
    -fx-border-color: #3b5998;
}







